<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="barber_app.settings_files.main_settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="barber_app.settings_files.database_settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <barber_app.settings_files.main_settings>
      <setting name="username" serializeAs="String">
        <value />
      </setting>
      <setting name="tax_value" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="barber_name" serializeAs="String">
        <value />
      </setting>
      <setting name="reports_print_type" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="invoice_print_type" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="invoice_paper" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="address" serializeAs="String">
        <value />
      </setting>
      <setting name="tax_number" serializeAs="String">
        <value />
      </setting>
      <setting name="mobile" serializeAs="String">
        <value />
      </setting>
      <setting name="landline" serializeAs="String">
        <value />
      </setting>
      <setting name="logo" serializeAs="String">
        <value />
      </setting>
      <setting name="storage_name" serializeAs="String">
        <value />
      </setting>
      <setting name="bank_name" serializeAs="String">
        <value />
      </setting>
      <setting name="userID" serializeAs="String">
        <value>0</value>
      </setting>
    </barber_app.settings_files.main_settings>
    <barber_app.settings_files.database_settings>
      <setting name="server_name" serializeAs="String">
        <value />
      </setting>
      <setting name="username" serializeAs="String">
        <value />
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="trusted_connection" serializeAs="String">
        <value>1</value>
      </setting>
    </barber_app.settings_files.database_settings>
  </userSettings>
</configuration>